---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/post-*.md");
const cateogries = [
  ...new Set(allPosts.map((post) => post.frontmatter.categories).flat()),
];
const pageTitle = "Cateogry Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    {
      cateogries.map((category) => (
        <p class="text-2xl text-black">
          <a href={`tags/${category}`}>{category}</a>
        </p>
      ))
    }
  </div>
</BaseLayout>
