---
import BaseLayout from "../layouts/BaseLayout.astro";
import BlopPost from "../components/BlopPost.astro";
const allPosts = await Astro.glob("./posts/*.md");
const pageTitle = "Blog Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div
    class="mx-auto max-w-screen-2xl min-h-screen flex justify-center items-center"
  >
    <ul
      class="grid grid-cols-1 md:grid-cols-2 grid-rows-2 lg:grid-cols-3 xl:grid-cols-4 justify-center gap-5 md:gap-2"
    >
      {
        allPosts.map((post) => (
          <BlopPost
            url={post.url}
            title={post.frontmatter.title}
            description={post.frontmatter.description.slice(0, 150)}
          />
        ))
      }
    </ul>
  </div>
</BaseLayout>
